/*----------------------------------
    0 - geral
    1 - header 
    2 - main
    3 - footer
----------------------------------*/

/*----------------------------------
    0 - formatações gerais                  
----------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, #000 , #000d 35%, #0000), url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 80px 128px 50px 128px;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}


/*----------------------------------
    1 - header                  
----------------------------------*/

header {
    display: flex;
    justify-content: space-between;

}

.links-container {
    display: flex;
    gap: 32px;
}

.links-container a {
    padding: 6px;
    text-shadow: 2px 2px 2px #000;
    transition: all .1s;
}

.links-container a:hover {
    background-color: #E62721;
    border-radius: 3px;
}

/*----------------------------------
    2 - main                  
----------------------------------*/

main {
    display: flex;
    flex-grow: 1;
}

.container-conteudo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.container-conteudo h1 {
    display: flex;
    font-size: 7rem;
    flex-direction: column;
    font-weight: 400;
}

.container-conteudo h1 span {
    font-size: 2rem;
    font-weight: 200;
    transform: translateY(30px);
}

.titulo-filme {
    transform: translateY(-20px);
    font-style: italic;
    font-size: 2.6rem;
    color: #E62721;;
}

.descricao-filme {
    width: 550px;
    font-size: 1.1rem;
    font-weight: 100;
    margin-bottom: 30px;
}

.botao-trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 300px;
    font-weight: 200;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #E62721;
}

.botao-trailer:hover {
    background-color: #C62721;
}

.container-redes-sociais {
    width: 48px;
}

.container-redes-sociais ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.container-redes-sociais ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .1s;
}

.container-redes-sociais i {
    font-size: 1.5rem;
}

.container-redes-sociais li:hover {
    background-color: #E62721;
    border-color: #E62721;
}


/*----------------------------------
    3 - footer                  
----------------------------------*/

footer {
    background-color: violet;
    height: 21px;
}